 @use 'hero';
 
 
 * {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
 }

 $cordeFundo : #040714;
 $cordeTextoPrincipal:silver;
 $cordeTextoSecundario:#f9f9f9;

 body {
    background-color: $cordeFundo;
 }

 @mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height:  $fontSize + 10px;
    color:$cordeTextoPrincipal;
 }

 @mixin title($fontSize: 40px) {
    @include text($fontSize);
    color:$cordeTextoSecundario;

 }

 .text--big {
    @include text(18px);
 }

 .text {
    @include text;
 }

 .text--small {
    @include text(12px);
 }

 .title--big {
    @include title(44px);
 }

 .title {
    @include title;
 }

 .title--small {
    @include title(28px);
 }

 .link-text {

    @include text(18px);
    color: $cordeTextoSecundario;
    text-decoration: underline;
 }